     {% load static %}
      <footer class="page-footer page-footer-default">
                  <div class="shell">
                    <div class="range range-xs-center">
                      <div class="cell-lg-10">
                        <a class="brand" href="index.html"
                          ><img
                            src="images/logo-default-dark-200x36.png"
                            alt=""
                            width="200"
                            height="36"
                        /></a>
                        <div class="text-highlighted-wrap">
                          <p class="text-highlighted">
                            Barbershop is a No.1 place to have a men’s haircut in
                            San Francisco. Here you can get luxury barber experience
                            at a reasonable price.
                          </p>
                        </div>
                        <ul class="footer-navigation footer-navigation-horizontal">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="services.html">Services</a></li>
                          <li class="active"><a href="blog.html">Blog</a></li>
                          <li><a href="shop.html">Shop</a></li>
                          <li><a href="contacts-1.html">Contacts</a></li>
                        </ul>
                        <div
                          class="divider divider-small divider-light block-centered"
                        ></div>
                        <ul class="inline-list inline-list-md">
                          <li>
                            <a
                              class="icon icon-xs link-gray-light fa-facebook"
                              href="#"
                            ></a>
                          </li>
                          <li>
                            <a
                              class="icon icon-xs link-gray-light fa-twitter"
                              href="#"
                            ></a>
                          </li>
                          <li>
                            <a
                              class="icon icon-xs link-gray-light fa-youtube"
                              href="#"
                            ></a>
                          </li>
                          <li>
                            <a
                              class="icon icon-xs link-gray-light fa-linkedin"
                              href="#"
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </footer>